<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TeamGlapp.BCIBUU.garbagelocator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.TeamGlapp.BCIBUU.garbagelocator.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBRRhVAnKw73NbKJjdsWOS2aK6jsv_CbVM" />

        <activity
            android:name="com.TeamGlapp.BCIBUU.garbagelocator.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.TeamGlapp.BCIBUU.garbagelocator.Register"
            android:label="@string/title_activity_register"></activity>
        <activity android:name="com.TeamGlapp.BCIBUU.garbagelocator.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TeamGlapp.BCIBUU.garbagelocator.ViewImage"
            android:label="@string/title_activity_view_image"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name="com.TeamGlapp.BCIBUU.garbagelocator.BrowserActivity"
            android:label="@string/title_activity_browser">
        </activity>
    </application>

</manifest>
